<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset='utf-8'>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>メモアプリ</title>
</head>

<body>
  <div class="container">
    <header class="header">
      <h1 class="header__title">メモアプリ</h1>
    </header>
    <div class="main">
      <div class="form">
        <form method="post" action="/memos/<%= @memo[:id] %>">
          <div class="form-item">
            <input type="text" name="title" value="<%= @memo[:title] %>" class="form-item__text-input">
          </div>
          <div class="form-item">
            <textarea name="body" class="form-item__textarea"><%= @memo[:body] %></textarea>
          </div>
          <div class="form-item">
            <div class="form-item__actions">
              <button class="delete__btn" type="submit" name="_method" value="PATCH">変更</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="footer">
      <footer class="footer__title">
        <p>©️2019 NMP</p>
      </footer>
    </div>
  </div>
</body>

</html>
